<% if @article.editable_by?(current_user) %>
	<%= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-primary' %>
	<%= link_to 'delete',article_path(@article), :class => 'btn btn-primary', method: :delete,  data: {confirm: "Are you sure?"} %>
<% end %>
<h1><%= content_tag :span, @article.title %></h1>
<%= content_tag :span, simple_format(@article.content) %>
<h3><%= @article.comments.count %> Comments</h3>
<table class="table talbe-striped">
	<% @comments.each do |comment| %>
	<tr>
		<td><%= comment.content %></td>
		<td><%= content_tag :span, time_ago_in_words(comment.created_at) %></td>
		<td>
			<% if comment.editable_by?(current_user) %>
			<%= link_to 'Edit', edit_article_comment_path(comment.article, comment), :class => 'btn btn-sm btn-default'%>
			<%= link_to 'Delete', article_comment_path(comment.article, comment), :class => 'btn btn-sm btn-default', method: :delete, data: {confirm: "Are you sure?"}%>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
<%= form_for [@article,Comment.new] do |f| %>
	<%= f.label :content, "Content" %>
	<%= f.text_area :content, :class => ' form-control' %>
	<%= f.submit "Create", :class => 'btn btn-primary'%>
<% end %>


